[Unit]
Description=YcBOT
After=network.target

[Service]
User=belpav
WorkingDirectory=/home/belpav/ycbot
Environment="PATH=/home/belpav/ycbot/venv/bin"
ExecStart=/home/belpav/ycbot/start_app.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
